blockquote p {
    font-size: 14px;
    font-weight: normal;
    color: #777;
}

em, strong {
    margin-left: 3px;
    margin-right: 3px;
}

/* index.md */
.index_recommended {
    text-align: center;
}
.index_recommended img {
    width: 150px;
}
.index_recommended .iconlogo {
    font-size: 125px;
}
.index_recommended .title{
    margin-top: 20px;
}

/* 2013-year-end-summary */
@font-face {
    font-family: 'logo';
    src: url('http://at.alicdn.com/t/font_1390195988_9420388.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1390195988_9420388.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://at.alicdn.com/t/font_1390195989_0386753.woff') format('woff'), /* chrome、firefox */
    url('http://at.alicdn.com/t/font_1390195988_7969282.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://at.alicdn.com/t/font_1390195989_0668917.svg#svgFontName') format('svg'); /* iOS 4.1- */
}
.iconlogo {
    font-family: "logo";
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    display: inline-block;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'iconfont2014';
    src: url('/assets/2013-year-end-summary/font/iconfont.eot'); /* IE9*/
    src: url('/assets/2013-year-end-summary/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/2013-year-end-summary/font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/assets/2013-year-end-summary/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/assets/2013-year-end-summary/font/iconfont.svg#svgFontName') format('svg'); /* iOS 4.1- */
}
.iconfont2014 { 
    font-family: "iconfont2014";
    font-size: 50px;
    font-style: normal;
    width: 100px;
    display: inline-block;
    margin-right: 5px;
    color: #FFFFFF;
}
.wrapper2014 {
    background-color: #FB0A2A; 
    padding: 20px; 
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.product {
    margin-left: 0px;
}
.product .span2 {
	text-align: center;
}
.product .span2:hover {
	background-color: #ED4242;
}
.product .iconlogo {
    font-size: 78px;
    color: #BEBEBE;
    /* #428BCA */
}
.product .span2:hover .iconlogo {
	color: #FFF;
}

/* 3d words */
.font36 {
    font-size: 36px;
}
.shadow {
    color: #FFF;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}


